root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 180
trim_trailing_whitespace = true

[*.{css, scss, js, json, jsx, ts, tsx, vue}]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
ij_javascript_enforce_trailing_comma = whenmultiline
ij_javascript_force_quote_style = true
ij_javascript_force_semicolon_style = true
ij_javascript_imports_wrap = split_into_lines
ij_javascript_keep_blank_lines_in_code = 1
ij_javascript_line_comment_add_space = true
ij_javascript_line_comment_at_first_column = false
ij_javascript_use_double_quotes = false
ij_javascript_use_semicolon_after_statement = true
ij_javascript_space_after_unary_not = false
ij_javascript_spaces_within_imports = true
ij_javascript_spaces_within_object_literal_braces = true

[*.html]
indent_size = 2
tab_width = 2
ij_continuation_indent_size = 2
ij_html_align_attributes = true
ij_html_attribute_wrap = split_into_lines
ij_html_block_comment_at_first_column = false
ij_html_enforce_quotes = true
ij_html_keep_blank_lines = 1
ij_html_line_comment_at_first_column = false
ij_html_new_line_after_last_attribute = when multiline
ij_html_new_line_before_first_attribute = when multiline
ij_html_quote_style = double
ij_html_space_inside_empty_tag = true

[*.md]
trim_trailing_whitespace = false
