<head th:fragment="header(pageTitle)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- site metas -->
    <title th:replace="${pageTitle}">Gaia - A terraform UI</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/webjars/font-awesome/5.8.2/css/all.css" />

    <link rel="stylesheet" href="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.css" />

    <link rel="stylesheet" href="/webjars/vue-multiselect/2.1.6/dist/vue-multiselect.min.css" />

    <!-- custom css -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/color_2.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <link rel="stylesheet" href="/css/github-markdown.css" />

</head>