<!-- javascript load -->
<!-- jquery & bootstrap -->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- vue & bootstrap-vue -->
<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.4/dist/bootstrap-vue.js"></script>
<!-- other components -->
<script src="/webjars/marked/0.6.2/marked.min.js"></script>
<script src="/webjars/vue-multiselect/2.1.6/dist/vue-multiselect.min.js"></script>
<script src="/webjars/momentjs/2.24.0/min/moment.min.js"></script>
<script src="/webjars/moment-duration-format/1.3.0/lib/moment-duration-format.js"></script>