<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="/"><img class="logo_icon img-responsive" src="/images/gaia.png" alt="#"></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="/images/gaia.png" alt="#"></div>
                <div class="user_info">
                    <h6>Gaia</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>Menu</h4>
        <ul class="list-unstyled components">
            <li class="active"><a href="/" ><i class="fas fa-tachometer-alt yellow_color"></i> <span>Dashboard</span></a></li>
            <li><a href="/modules"><i class="fa fa-object-group blue1_color"></i> <span>Modules</span></a></li>
            <li><a href="/stacks"><i class="fas fa-layer-group blue2_color"></i> <span>Stacks</span></a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/settings"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
            <li sec:authorize="hasRole('ADMIN')"><a href="/users"><i class="fas fa-user-friends yellow_color"></i> <span>Users</span></a></li>
        </ul>
    </div>
</nav>
<!-- end sidebar -->

</html>