<!-- topbar -->
<div class="topbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="full">
            <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fas fa-bars"></i></button>
            <div class="logo_section">
                <a href="/"><img class="img-responsive" src="/images/gaia.png" alt="#" /></a>
            </div>
            <div class="right_topbar">
                <div class="icon_info">
                    <ul>
<!--                        <li><a href="#"><i class="far fa-bell"></i><span class="badge">2</span></a></li>-->
<!--                        <li><a href="#"><i class="far fa-question-circle"></i></a></li>-->
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- end topbar -->