/*------------------------------------------------------------------
    File Name: color_2.css
-------------------------------------------------------------------*/
.counter_section .counter_no p.total_no {
  color: #fff;
}

.counter_section .counter_no p.head_couter {
  color: rgba(255, 255, 255, .7);
}

.dark_bg {
  background: #0971b8;
}

.progress.skill-bar .progress-bar {
  background-color: #0971b8;
}

.dash_head {
  background-color: #0971b8;
}
