/*------------------------------------------------------------------
    File Name: color_2.css
-------------------------------------------------------------------*/
.dark_bg {
  background: #0971b8;
}

.progress.skill-bar .progress-bar {
  background-color: #0971b8;
}

.dash_head {
  background-color: #0971b8;
}
