<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Page not found</title>

</head>
<body>

<div class="full_container">
    <div class="center verticle_center full_height">
        <div class="error_page">
            <div class="center">
                <img class="img-responsive" src="/images/no-entry.png" alt="#">
            </div>
            <br>
            <h3>STOP HERE !</h3>
            <p>YOU'RE NOT ALLOWED TO SEE THIS PAGE !</p>
            <div class="center">
                <a class="btn btn-success" href="/">Go To Home Page</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>