<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - A terraform UI</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div th:replace="~{layout/sidebar}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row column1">
                    <div sec:authorize="hasRole('ADMIN')" class="col-md-6 col-lg-4">
                        <a href="/modules">
                            <div class="full counter_section margin_bottom_30 blue1_bg">
                                <div class="couter_icon">
                                    <div>
                                        <i class="fa fa-object-group"></i>
                                    </div>
                                </div>
                                <div class="counter_no">
                                    <div>
                                        <p class="total_no" th:text="${moduleCount}">12</p>
                                        <p class="head_couter">Modules</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <a href="/stacks">
                            <div class="full counter_section margin_bottom_30 blue2_bg">
                                <div class="couter_icon">
                                    <div>
                                        <i class="fas fa-layer-group"></i>
                                    </div>
                                </div>
                                <div class="counter_no">
                                    <div>
                                        <p class="total_no" th:text="${runningStackCount}">12</p>
                                        <p class="head_couter">Running Stacks</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <a href="/stacks">
                            <div class="full counter_section margin_bottom_30 yellow_bg">
                                <div class="couter_icon">
                                    <div>
                                        <i class="far fa-caret-square-up"></i>
                                    </div>
                                </div>
                                <div class="counter_no">
                                    <div>
                                        <p class="total_no" th:text="${toUpdateStackCount}">1</p>
                                        <p class="head_couter">Stacks to update</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<!-- jQuery & bootstrap-->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.js"></script>

<div th:replace="vue_templates/breadcrumb"></div>

<script th:inline="javascript" type="application/ecmascript">
    new Vue({
        el: "#navigation",
        data: () => ({ page: 'index' }),
        template: "#template-navigation",
    });
</script>

<script type="application/ecmascript">
    $(document).ready(function () {
        /*-- sidebar js --*/
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
</body>
</html>