<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - A terraform UI</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div id="dashboard-content"></div>
            </div>
        </div>
    </div>
</div>

<template id="dashboard-template">
    <div>
        <div class="row column1">
            <dashboard-widget text="Modules" :value="moduleCount" variant="blue2_bg" type="modules_count" icon="fa-object-group" link="/modules"></dashboard-widget>
            <dashboard-widget text="Running Stacks" :value="runningStacksCount" variant="blue2_bg" type="stacks_count" icon="fa-layer-group" link="/stacks"></dashboard-widget>
            <dashboard-widget text="Stacks to update" :value="toUpdateStackCount" variant="yellow_bg" type="stacks_toUpdate_count" icon="fa-caret-square-up" link="/stacks"></dashboard-widget>
        </div>

        <div sec:authorize="authentication.name != 'admin'" v-if="! team" class="full_container">
            <div class="center">
                <div class="error_page">
                    <div class="center">
                        <img class="img-responsive" src="/images/waving-hand-sign.png" alt="#">
                    </div>
                    <br>
                    <h3>Hi there ! </h3>
                    <p>It seems that you're not a member of a team yet. Ask your admin to add you a team !</p>
                    <p>Until then, you'll only be able to use public modules.</p>
                </div>
            </div>
        </div>
    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>


<!-- jQuery & bootstrap-->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.4/dist/bootstrap-vue.js"></script>

<div th:replace="vue_templates/sidebar"></div>

<div th:replace="vue_templates/breadcrumb"></div>
<div th:replace="vue_templates/dashboard-widget"></div>

<script th:inline="javascript" type="application/ecmascript">
    new Vue({
        el: "#navigation",
        data: () => ({ page: 'index' }),
        template: "#template-navigation",
    });

    const moduleCount = [[${moduleCount}]];
    const runningStacksCount = [[${runningStackCount}]];
    const toUpdateStackCount = [[${toUpdateStackCount}]];
    const team = [[${team}]];

    new Vue({
        el: "#dashboard-content",
        data: () => ({
            moduleCount,
            runningStacksCount,
            toUpdateStackCount,
            team
        }),
        template: "#dashboard-template",
    });
</script>

</body>
</html>