<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit stack</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div id="app"></div>
            </div>

        </div>
    </div>
</div>

<template id="template">
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="block_head_flex">
                    <h2>Stack {{stack.name}}</h2>
                    <cli-badge :cli-version="job.cliVersion" :badge-style="'for-the-badge'"></cli-badge>
                </div>
                <div class="block_content">

                    <job-metadata
                            :job="job" :stack="stack"
                            @retry="retryJob">
                    </job-metadata>

                    <job-step
                            :id="'step-1'"
                            :header-title="firstStepTitle"
                            :step="job.steps[0]">
                    </job-step>

                    <job-apply-confirm
                            v-if="isSecondStepDoable"
                            :title="secondStepTitle"
                            @apply="applyJob">
                    </job-apply-confirm>

                    <job-step
                            :id="'step-2'"
                            :header-title="secondStepTitle"
                            :step="job.steps[1]">
                    </job-step>

                </div>
            </div>
        </div>
    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page" :stack-id="stackId"></breadcrumb>
</template>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/webjars/momentjs/2.24.0/min/moment.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.js"></script>

<div th:replace="vue_templates/sidebar"></div>

<div th:replace="helpers/messenger"></div>

<div th:replace="vue_templates/cli-badge"></div>
<div th:replace="vue_templates/breadcrumb"></div>
<div th:replace="vue_templates/console"></div>
<div th:replace="vue_templates/user-badge"></div>
<div th:replace="vue_templates/job/job-metadata"></div>
<div th:replace="vue_templates/job/job-step"></div>
<div th:replace="vue_templates/job/job-apply-confirm"></div>

<script src="/js/ansi_to_html.js"></script>

<script th:inline="javascript" type="application/ecmascript">
    const stackId = [[${stackId}]];
    const jobId = [[${jobId}]];
    const editionMode = [[${edition}]];

    const store = {
        state: {
            stack: {},
            job: {}
        }
    };

    function getStack() {
        return $.get(`/api/stacks/${stackId}`)
            .then(data => store.state.stack = data);
    }

    function getJob() {
        return $.get(`/api/stacks/${stackId}/jobs/${jobId}`)
            .then(data => store.state.job = data);
    }

    let interval;
    function planOrApplyJob(type) {
        if (editionMode) return;
        return $.post(`/api/jobs/${jobId}/${type}`)
            .then(_ => interval = setInterval(refreshJob, 1000));
    }

    function refreshJob() {
        return $.get(`/api/stacks/${stackId}/jobs/${jobId}`)
            .then(data => {
                store.state.job = data;
                if (store.state.job.status.indexOf("STARTED") < 0) {
                    clearInterval(interval);
                }
            });
    }

    Promise.all([getStack(), getJob()])
        .then(_ => planOrApplyJob('PLAN'))
        .then(_ => {
            new Vue({
                el: "#app",
                data: () => store.state,
                template: "#template",
                computed: {
                    firstStepTitle: () => store.state.job.type === 'RUN' ? 'plan' : 'plan destroy',
                    secondStepTitle: () => store.state.job.type === 'RUN' ? 'apply' : 'destroy',
                    isSecondStepDoable: () => {
                        if (editionMode) return false;
                        return store.state.job.status !== null &&
                            store.state.job.status.indexOf('STARTED') < 0 &&
                            store.state.job.status.indexOf('FAILED') < 0 &&
                            store.state.job.status.indexOf('APPLY') < 0;
                    }
                },
                methods: {
                    applyJob: () => planOrApplyJob('APPLY'),
                    retryJob: () => planOrApplyJob('retry'),
                }
            });
        });
</script>

<script th:inline="javascript" type="application/ecmascript">
    new Vue({
        el: "#navigation",
        data: () => ({page: 'job', stackId}),
        template: "#template-navigation",
    });
</script>

</body>
</html>