<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- site metas -->
    <title>Gaia</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/login.css" />

    <link rel="stylesheet" href="/webjars/font-awesome/5.8.2/css/all.css" />

</head>
<body>

<div class="limiter">
    <div class="container-login">
        <div class="wrap-login shadow bg-white rounded">
            <div class="login-pic">
                <img src="/images/gaia.png" alt="gaia-logo"/>
            </div>

            <form class="login-form" th:action="@{/login}" method="post">
				<h1 class="login-form-title">Gaia - Login</h1>

                <div>

                    <div th:if="${param.error}" class="alert alert-warning">
                        Invalid username and password.
                    </div>
                    <div th:if="${param.logout}" class="alert alert-success">
                        You have been logged out.
                    </div>

                    <div class="wrap-input">
                        <input class="input" type="text" name="username" placeholder="Username" autofocus/>
                        <span class="focus-input"></span>
                        <span class="symbol-input">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
                    </div>

                    <div class="wrap-input">
                        <input class="input" type="password" name="password" placeholder="Password" />
                        <span class="focus-input"></span>
                        <span class="symbol-input">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                    </div>

                </div>

                <div class="container-login-form-btn">
                    <button type="submit" class="login-form-btn">
                        Login
                    </button>
                </div>

                <!-- OAuth2 connections -->
                <div th:if="${clients != null and !clients.empty}">
                    <h7 class="sign-in">or Sign In with</h7>
                    <div class="login-oauth">
                        <a th:each="client: ${clients}"
                           th:href="@{/oauth2/authorization/{client}(client=${client})}"
                           th:class="${'btn btn-outline-secondary btn-sm btn-' + client}">
                            <i th:class="${'fab fa-' + client}"></i>
                            <span th:text="${client}"></span>
                        </a>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>