<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit module</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div th:replace="~{layout/sidebar}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white_shd full">
                            <div id="app"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<template id="template">
    <div class="block">
        <div class="block_head">
            <h2>Module {{module.name}}</h2>
        </div>

        <div class="block_content">
            <form v-on:submit.prevent="post">
                <div class="form-row">
                    <div class="form-group col-md-11">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" v-model="module.name">
                    </div>
                    <div class="form-group col-md-1">
                        <label for="cliVersion">CLI Version</label>
                        <b-form-select class="form-control" id="cliVersion" v-model="module.cliVersion" :options="versions"></b-form-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" v-model="module.description">
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="gitRepositoryUrl">Git Repository URL</label>
                        <input type="text" class="form-control" id="gitRepositoryUrl" v-model="module.gitRepositoryUrl">
                    </div>
                    <div class="form-group col">
                        <label for="directory">Git repository directory</label>
                        <input type="text" class="form-control" id="directory" v-model="module.directory">
                    </div>
                </div>

                <h2>Authorized Teams</h2>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <vue-multiselect

                            :multiple="true"
                            label="id"
                            track-by="id"
                            searchable
                            placeholder="Select teams"
                            v-model="module.authorizedTeams"
                            :options="teams"></vue-multiselect>
                    </div>
                </div>

                <h2>Variables <button type="button" class="btn btn-success" @click="addVar()">+</button></h2>

                <div class="form-row align-items-end" v-for="(modVar,modVarIdx) in module.variables">
                    <div class="form-group col-md-3" >
                        <label for="var-name">Name: </label>
                        <input type="text" class="form-control" id="var-name" v-model="modVar.name">
                    </div>
                    <div class="form-group col-md-3" >
                        <label for="var-description">Description: </label>
                        <input type="text" class="form-control" id="var-description" v-model="modVar.description">
                    </div>
                    <div class="form-group col-md-2" >
                        <label for="var-defaultValue">Default value: </label>
                        <input type="text" class="form-control" id="var-defaultValue" v-model="modVar.defaultValue">
                    </div>
                    <div class="form-group col-md-1">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" :id="'check-' + modVarIdx" v-model="modVar.editable">
                            <label class="form-check-label" :for="'check-' + modVarIdx"
                                   data-toggle="tooltip" data-placement="top" title="Set this variable as editable for module users">Editable</label>
                        </div>
                    </div>
                    <div class="form-group" >
                        <button type="button" class="form-control btn btn-danger" @click="removeVar(modVarIdx)">-</button>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i> Save</button>
            </form>
        </div>
    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.js"></script>

<script src="/webjars/vue-multiselect/2.1.6/dist/vue-multiselect.min.js"></script>

<div th:replace="helpers/messenger"></div>
<div th:replace="vue_templates/breadcrumb"></div>

<script th:inline="javascript" type="application/ecmascript">
    Vue.component('vue-multiselect', window.VueMultiselect.default);

    const moduleId = [[${module.id}]];

    $.get(`/api/modules/${moduleId}`)
        .then(module => $.get('/api/terraform-cli/versions').then(versions => ({module, versions})))
        .then(({module, versions}) => $.get('/api/teams').then(teams => ({module, versions, teams})))
        .then(data => {
            teams = data.teams;
            module = data.module;
            new Vue({
                el: "#app",
                data: _ => data,
                template: "#template",
                methods: {
                    post: function(){
                        const message = Messenger().post({
                            type: "info",
                            message: "Saving module."
                        });
                        $.ajax({
                            url: `/api/modules/${moduleId}`,
                            data: JSON.stringify(data.module),
                            contentType: "application/json",
                            method: "PUT",
                            success: () => message.update({type: "success", message: "Module saved."}),
                            error: () => message.update({type: "error", message: "Error saving module."})
                        });
                    },
                    removeVar(varIdx){
                        data.variables.splice(varIdx,1);
                    },
                    addVar(){
                        data.variables.push({});
                    }
                }
            });
            $('[data-toggle="tooltip"]').tooltip();
        });

    new Vue({
        el: "#navigation",
        data: () => ({ page: 'module' }),
        template: "#template-navigation",
    });
</script>

<script type="application/ecmascript">
    $(document).ready(function () {
        /*-- sidebar js --*/
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>
</html>