<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Module description</title>

</head>
<body class="dashboard dashboard_2">

<div th:replace="layout/include_scripts"></div>

<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white_shd full">
                            <div id="app"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<template id="template">
    <div class="block module_description">
        <section class="block_head row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-2">
                        <img :src="'/images/' + mainProvider + '.png'" :alt="mainProvider"/>
                    </div>
                    <div class="col-md-10">
                        <h1>
                            <span>{{name}}</span>
                            <cli-badge :cli-version="cliVersion" :badge-style="'for-the-badge'"></cli-badge>
                        </h1>
                        <div class="provider">{{id}}</div>
                        <div class="desc">{{description}}</div>
                        <hr>
                        <div class="metadata">
                            <p>Published <b>{{moduleMetadata.createdAt | dateTimeLong}}</b> by <a href="#">{{moduleMetadata.createdBy.username}}</a></p>
                            <p v-if="moduleMetadata.updatedAt">Last modified <b>{{moduleMetadata.updatedAt | dateTimeLong}}</b> by <a href="#">{{moduleMetadata.updatedBy.username}}</a></p>
                            <p>Source: <a :href="gitRepositoryUrl">{{gitRepositoryUrl}}</a></p>
                            <p v-if="estimatedMonthlyCost">Estimated monthly cost: ${{estimatedMonthlyCost}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <b-tabs>
                <b-tab active>
                    <template slot="title">
                        <i class="fab fa-markdown"></i> Readme
                    </template>
                    <readme :module-id="id"></readme>
                </b-tab>
                <b-tab v-if="estimatedMonthlyCostDescription">
                    <template slot="title">
                        <i class="fab fa-markdown"></i> Cost Of Ownership
                    </template>
                    <b-container fluid>
                        <markdown :content="estimatedMonthlyCostDescription"></markdown>
                    </b-container>
                </b-tab>
            </b-tabs>
        </section>
<!--        <div class="block_content">-->
<!--        </div>-->
    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<div th:replace="vue_templates/components/cli-badge"></div>
<div th:replace="vue_templates/components/readme"></div>
<div th:replace="vue_templates/components/markdown"></div>
<div th:replace="vue_templates/components/breadcrumb"></div>
<div th:replace="vue_templates/components/sidebar"></div>
<div th:replace="vue_templates/filters/date-time"></div>

<div th:replace="helpers/messenger"></div>

<script th:inline="javascript" type="application/ecmascript">
    const moduleId = [[${module.id}]];

    $.get(`/api/modules/${moduleId}`)
        .then(data => {
            // START FIXME: link with real data once implemented in the model
            data.mainProvider = 'aws';
            // END FIXME
            new Vue({
                el: "#app",
                data,
                template: "#template",
            });
        });

    new Vue({
        el: "#navigation",
        data: () => ({ page: 'module_description' }),
        template: "#template-navigation",
    });
</script>

</body>
</html>