<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Import Module</title>

</head>
<body class="dashboard dashboard_2">

<div th:replace="layout/include_scripts"></div>

<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row column_title">
                    <div class="col-md-12">
                        <div id="controls"></div>
                    </div>
                </div>
                <div id="app"></div>
            </div>

        </div>
    </div>
</div>

<template id="template">
    <div class="row">
        <module-import :registry="'github'" :selected="selected" th:if="${user.oAuth2User.provider == 'github'}" @toggle="selected = 'github'"></module-import>
        <module-import :registry="'gitlab'" :selected="selected" th:if="${user.oAuth2User.provider == 'gitlab'}" @toggle="selected = 'gitlab'"></module-import>
        <manual-import :selected="selected" @toggle="selected = 'manual'"></manual-import>
    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<div th:replace="vue_templates/modules/module-import"></div>
<div th:replace="vue_templates/modules/manual-import"></div>

<div th:replace="vue_templates/sidebar"></div>

<div th:replace="helpers/messenger"></div>

<div th:replace="vue_templates/breadcrumb"></div>

<script src="/js/ansi_to_html.js"></script>

<script th:inline="javascript" type="application/ecmascript">
    Vue.component('vue-multiselect', window.VueMultiselect.default);

    new Vue({
        el: "#app",
        template: "#template",
        data: () => ({
            selected: "none"
        })
    });
</script>

<script th:inline="javascript" type="application/ecmascript">
    new Vue({
        el: "#navigation",
        data: () => ({page: 'module_import'}),
        template: "#template-navigation",
    });
</script>

</body>
</html>