<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Modules</title>

</head>
<body class="dashboard dashboard_2">

<div th:replace="layout/include_scripts"></div>

<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row column_title">
                    <div class="col-md-12">
                        <div id="controls">
                            <div class="page_controls">
                                <a href="/modules/import" class="btn btn-success"><i class="far fa-save"></i> Import Module</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modules"></div>
            </div>

        </div>
    </div>
</div>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<template id="modules-template">
    <b-card-group columns>
        <b-card v-for="module in modules"
                :title="module.name">
            <b-card-text>
                <img v-if="isAuthorized(module)" :src="'https://img.shields.io/badge/terraform-'+module.cliVersion+'-blue.svg?style=flat-square,alt='+module.cliVersion+',title='+module.cliVersion" style="margin-bottom: .75rem" />
                <p>{{module.description}}</p>

                <p v-if="module.estimatedMonthlyCost">Estimated monthly cost : <b-badge variant="info">{{module.estimatedMonthlyCost}} $</b-badge></p>
            </b-card-text>

            <a href="#" v-if="isAuthorized(module)" :href="'/modules/'+module.id" data-toggle="tooltip" title="Edit this module" class="btn btn-primary"><i class="far fa-edit"></i></a>
            <a href="#" :href="'/modules/'+module.id+'/description'" data-toggle="tooltip" title="Detail of this module" class="btn btn-primary"><i class="fas fa-info"></i></a>
            <a href="#" :href="'/modules/'+module.id+'/run'" data-toggle="tooltip" title="Run this module" class="btn btn-primary"><i class="fas fa-rocket"></i></a>
        </b-card>
    </b-card-group>
</template>

<div th:replace="vue_templates/breadcrumb"></div>
<div th:replace="vue_templates/sidebar"></div>

<script type="application/ecmascript" th:inline="javascript">
    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    });

    Vue.prototype.$user = [[${user}]];

    $.get("/api/modules").then(modules => {
       new Vue({
           el: "#modules",
           data: () => ({modules}),
           template: "#modules-template",
           methods: {
               isAuthorized(module){
                   return module.createdBy.username === this.$user.username
                       || this.$user.username === 'admin'
               }
           }
       });
    });

    new Vue({
        el: "#navigation",
        data: () => ({ page: 'modules' }),
        template: "#template-navigation",
    });
</script>

</body>
</html>