<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit stack</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div id="sidebar-placeholder"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div id="app"></div>
            </div>

        </div>
    </div>
</div>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/prism.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.js"></script>

<div th:replace="vue_templates/stack-vars"></div>
<div th:replace="vue_templates/breadcrumb"></div>
<div th:replace="vue_templates/sidebar"></div>

<template id="template">
    <div>
        <div class="row">
            <div class="block wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs" role="tablist">

                        <li role="presentation">
                            <a href="#step1" class="active" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="fa fa-object-group"></i>
                            </span>
                            </a>
                        </li>

                        <li role="presentation" class="disabled">
                            <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="far fa-edit"></i>
                            </span>
                            </a>
                        </li>
                        <li role="presentation" class="disabled">
                            <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="fas fa-rocket"></i>
                            </span>
                            </a>
                        </li>

                    </ul>
                </div>

                <form role="form">
                    <div class="tab-content block_content">
                        <div class="tab-pane active" role="tabpanel" id="step1">
                            <h2>Your module : </h2>
                            <h4>{{module.name}}</h4>
                            <p>{{module.description}}</p>

                            <hr/>

                            <div class="form-group">
                                <b-form-group
                                    label="Name"
                                    description="The name of your stack">
                                    <b-input v-model="stack.name" :state="typeof stack.name !== 'undefined' && stack.name !== ''" autofocus></b-input>
                                    <b-form-invalid-feedback>This field is mandatory</b-form-invalid-feedback>
                                </b-form-group>
                                <b-form-group
                                    label="Description"
                                    description="The description of your stack">
                                    <b-input v-model="stack.description"></b-input>
                                </b-form-group>
                            </div>

                            <ul class="list-inline float-right">
                                <li><b-button variant="primary" class="next-step" :disabled="typeof stack.name === 'undefined' || stack.name.trim() === ''"><i class="fas fa-arrow-circle-right"></i> Next</b-button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step2">
                            <h2>Input variables</h2>
                            <hr/>
                            <stack-vars v-bind:module="module" v-bind:stack="stack" @validated="validated => this.stacksVariablesValidated = validated"></stack-vars>
                            <ul class="d-flex flex-row-reverse">
                                <li><b-button variant="primary" class="next-step ml-1" :disabled="!this.stacksVariablesValidated"><i class="fas fa-arrow-circle-right"></i> Next</b-button></li>
                                <li><b-button variant="light" class="prev-step"><i class="fas fa-arrow-circle-left"></i> Previous</b-button></li>
                            </ul>
                        </div>
                        <div class="tab-pane" role="tabpanel" id="step3">
                            <h2>Run</h2>
                            <hr/>
                            <p>Save your stack and run it !</p>
                            <ul class="d-flex flex-row-reverse flex-grow-0">
                                <li><b-button variant="primary" class="ml-1" @click="run"><i class="fas fa-rocket"></i> Save & Run</b-button></li>
                                <li><b-button variant="primary" class="ml-1" @click="save"><i class="far fa-save"></i> Save & Continue</b-button></li>
                                <li><b-button variant="light" class="prev-step"><i class="fas fa-arrow-circle-left"></i> Previous</b-button></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<script th:inline="javascript" type="application/ecmascript">
function initWizard(){
    //Initialize tooltips
    $('.nav-tabs > li a[title]').tooltip();

    //Wizard
    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

        var $target = $(e.target);

        if ($target.parent().hasClass('disabled')) {
            return false;
        }
    });

    $(".next-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li a.active').parent();
        $active.next().removeClass('disabled');
        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li a.active').parent();
        prevTab($active);

    });
}

function nextTab(elem) {
    $(elem).next().find('a[data-toggle="tab"]').click();
}
function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}

const moduleId = [[${moduleId}]];

const store = {
    state : {
        stack : {
            moduleId,
            variableValues: {}
        },
        stacksVariablesValidated: false
    }
};

function loadModule(){
    console.log("loadModule");
    return $.get(`/api/modules/${moduleId}`).then(data => {
        store.state.module = data;
    });
}

loadModule()
    .then(function () {
        new Vue({
            el: "#app",
            data: _ => store.state,
            template: "#template",
            methods: {
                save,
                run
            }
        });
        initWizard();
    });

function save(){
    $.ajax({
        url: `/api/stacks`,
        data: JSON.stringify(this.stack),
        contentType: "application/json",
        method: "POST"
    }).then(saved => {
        this.stack = saved;
        window.location = `/stacks/${this.stack.id}`;
    });
}

function run(){
    // save the stack & run job
    $.ajax({
        url: `/api/stacks`,
        data: JSON.stringify(this.stack),
        contentType: "application/json",
        method: "POST"
    }).then(saved => {
        this.stack = saved;
        window.location = `/stacks/${this.stack.id}/apply`;
    })
}
</script>

<script type="application/ecmascript">
    new Vue({
        el: "#navigation",
        data: () => ({ page: 'new_stack' }),
        template: "#template-navigation",
    });
</script>

</body>
</html>