<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit module</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div th:replace="~{layout/sidebar}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2> Gaia's Settings </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="white_shd full">

                                <div id="app"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- jQuery & bootstrap-->
<script src="webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="webjars/popper.js/1.14.3/popper.min.js"></script>
<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

<template id="template">
    <div class="block">
        <div class="block_head">
            <h2>Settings</h2>
        </div>

        <div class="block_content">
            <div class="form-group">
                <label for="externalUrl">External url</label>
                <input type="text" class="form-control" id="externalUrl" v-model="externalUrl">
                <small>This is gaia's external URL. This is needed to allow terraform backend support.</small>
            </div>

            <div class="heading1">
                <h2>Environment Variables <button type="button" class="btn btn-success" @click="addEnvVar()">+</button></h2>
                <small>This is the environment variables which are fed to the runner.</small>
            </div>
            <div class="form-row align-items-end" v-for="(envVar, index) in envVars">
                <div class="form-group col-md-4" >
                    <label for="var-name">Name: </label>
                    <input type="text" class="form-control" id="var-name" v-model="envVar.name">
                </div>
                <div class="form-group col-md-4" >
                    <label for="var-value">Value: </label>
                    <input type="text" class="form-control" id="var-value" v-model="envVar.value">
                </div>
                <div class="form-group col-md-1" >
                    <button type="button" class="form-control btn btn-danger" @click="removeEnvVar(index)">-</button>
                </div>
            </div>

            <button class="btn btn-primary" onclick="saveSettings()"><i class="far fa-save"></i> Save</button>
        </div>
    </div>
</template>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>

<div th:replace="helpers/messenger"></div>

<script th:inline="javascript" type="application/ecmascript">
    const settings = [[${settings}]];
    const envVars = settings.envVars;
    new Vue({
        el: "#app",
        data : settings,
        template: "#template",
        methods: {
            removeEnvVar(index){
                settings.envVars.splice(index, 1);
            },
            addEnvVar(){
                settings.envVars.push({});
            }
        }
    });

    function saveSettings(){
        const message = Messenger().post({
            type: "info",
            message: "Saving settings."
        });
        $.ajax({
            url: `/settings`,
            data: JSON.stringify(settings),
            contentType: "application/json",
            method: "PUT",
            success: () => message.update({type: "success", message: "Settings saved."}),
            error: () => message.update({type: "error", message: "Error saving settings"})
        });
    }
</script>

<script type="application/ecmascript">
    $(document).ready(function () {
        /*-- sidebar js --*/
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>
</html>