<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit stack</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div th:replace="~{layout/sidebar}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="full">
                            <div class="page_title">

                            </div>
                        </div>
                    </div>

                    <div id="app"></div>

                </div>
            </div>

        </div>
    </div>
</div>

<template id="template">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div>
                        <div class="full graph_head">
                            <div class="heading1 margin_0">
                                <h2>Stack {{stack.name}}</h2>
                            </div>
                        </div>

                        <div class="padding_infor_info">

                            <div class="alert alert-primary" role="alert" v-if="job.status === 'RUNNING'">
                                Your deployment is running ! <i class="fas fa-circle-notch fa-spin"></i>
                            </div>

                            <div class="alert alert-success" role="alert" v-if="job.status === 'FINISHED'">
                                Your deployment is finished ! <i class="far fa-grin-stars"></i>
                            </div>

                            <div class="alert alert-dark" role="alert" v-if="job.status === 'FAILED'">
                                Your deployment has failed ! <i class="far fa-frown"></i>
                            </div>

                           <pre><code class="language-shellOutput">{{job.logs}}</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/prism.js"></script>
<script src="/webjars/ace-builds/1.4.4/src-min/ace.js"></script>
<script src="/webjars/ace-builds/1.4.4/src-min/mode-hjson.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>

<script th:inline="javascript" type="application/ecmascript">
    const stackId = [[${stackId}]];
    const jobId = [[${jobId}]];

    let logs = "";

    let stack;
    let job;
    let vueData = {};

    let interval;

    function getStack(){
        return $.get(`/api/stacks/${stackId}`)
            .then(data => stack = data);
    }

    function getJob(){
        return $.get(`/api/stacks/${stackId}/jobs/${jobId}`)
            .then(data => job = data);
    }

    Promise.all([getStack(), getJob()])
        .then(_ => {
            vueData = {
                stack,
                job
            };
            initFront();
            interval = setInterval(refreshJob, 1000);
        });

    function refreshJob(){
        $.get(`/api/stacks/${stackId}/jobs/${jobId}`)
            .then(data => {
                job = data;
                vueData.job = job;

                if(job.status !== "RUNNING"){
                    clearInterval(interval);
                }
            });
    }

    function initFront(){
        const vue = new Vue({
            el: "#app",
            data: vueData,
            template: "#template",
        });

        // highlight code !
        Prism.highlightAll();
    }

    /**
     * Simple function to replace
     */
    function replaceAnsiWithHTML(){

    }
</script>

<script type="application/ecmascript">
    $(document).ready(function () {
        /*-- sidebar js --*/
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>
</html>