<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit stack</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div th:replace="~{layout/sidebar}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="midde_cont">
                <div class="container-fluid">

                    <div id="controls"></div>

                    <div id="app"></div>

                </div>
            </div>

        </div>
    </div>
</div>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.js"></script>

<div th:replace="vue_templates/stack-vars"></div>

<template id="stack-controls">
    <div class="row column_title">
        <div class="full">
            <div class="page_title">
                <a href="#" class="btn btn-primary" @click="save"><i class="far fa-save"></i> Save</a>
                <a :href="'/stacks/' + stack.id + '/apply'" v-if="stack.state === 'NEW' || stack.state === 'STOPPED'" class="btn btn-primary"><i class="fas fa-rocket"></i> Run</a>
                <a :href="'/stacks/' + stack.id + '/apply'" v-if="stack.state === 'TO_UPDATE'" class="btn btn-warning"><i class="fas fa-upload"></i> Update</a>

                <a :href="'/stacks/' + stack.id + '/preview'" v-if="stack.state !== 'RUNNING'" class="btn btn-info"><i class="fas fa-binoculars"></i> Preview</a>

                <a href="#" @click="stopStack" v-if="stack.state === 'RUNNING' || stack.state === 'TO_UPDATE'" class="btn btn-danger"><i class="fas fa-stop-circle"></i> Stop</a>
            </div>
        </div>
    </div>
</template>

<template id="stack-outputs">
    <div class="col-md-6">
        <div class="block">
            <div class="block_head">
                <h2>Outputs</h2>
                <small>These are the outputs of your stack.</small>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Variable</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(output, key) in outputs">
                    <td>{{key}}</td>
                    <td>{{output.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template id="template">
    <div>

        <div class="row margin_bottom_30">
            <div class="col-md-6">
                <div class="block">
                    <div class="block_head">
                        <h2>Stack {{stack.name}}</h2>
                        <small>{{stack.description}}</small>
                        <h2>
                            <span class="badge badge-pill badge-success" v-if="stack.state === 'NEW'" data-toggle="tooltip" title="Your stack is new and has not been started yet."><i class="fas fa-star-of-life"></i> new</span>
                            <span class="badge badge-pill badge-primary" v-if="stack.state === 'RUNNING'" data-toggle="tooltip" title="Your stack is up and running !"><i class="far fa-check-square"></i> running</span>
                            <span class="badge badge-pill badge-warning" v-if="stack.state === 'TO_UPDATE'" data-toggle="tooltip" title="Your stack needs an update !"><i class="fas fa-upload"></i> to update</span>
                            <span class="badge badge-pill badge-danger" v-if="stack.state === 'STOPPED'" data-toggle="tooltip" title="Your stack has been stopped."><i class="fas fa-stop-circle"></i> stopped</span>
                        </h2>
                    </div>
                    <div class="block_content">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" v-model="stack.name">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" v-model="stack.description">
                        </div>
                    </div>
                </div>
            </div>

            <stack-outputs v-bind:outputs="stack.outputs"></stack-outputs>
        </div>

        <div class="row margin_bottom_30">
            <div class="col-md-6">
                <div class="block">
                    <div class="block_head">
                        <h2>Module variables values</h2>
                        <small>This is the configuration of your module's variables !</small>
                    </div>
                    <div class="block_content">
                        <stack-vars v-bind:module="stack.module" v-bind:stack="stack"></stack-vars>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <job-history v-bind:jobs="stack.jobs"></job-history>
            </div>
        </div>
    </div>
</template>

<template id="job-history">
    <div class="block">
        <div class="block_head dark_bg">
            <h2><span><i class="fas fa-history"></i> Job history</span></h2>
        </div>
        <ul class="job_list">
            <li v-for="(job, index) in jobs" :class="job.status">
                <a :href="'/stacks/' + job.stackId + '/jobs/' + job.id">Job #{{index+1}} - {{job.status}}</a>
                <br>
                <strong>{{job.dateTime | dateTime}}</strong>
            </li>
        </ul>
    </div>
</template>

<script th:inline="javascript" type="application/ecmascript">
    const stackId = [[${stackId}]];

    Vue.component('job-history', {
        template: "#job-history",
        props: ["jobs"]
    });

    Vue.component('stack-outputs', {
        template: "#stack-outputs",
        props: ["outputs"]
    });

    Vue.filter('dateTime', function (value) {
        if (!value) return '';
        return new Date(value).toLocaleString();
    })
</script>

<div th:replace="helpers/messenger"></div>

<script th:inline="javascript" type="application/ecmascript">
    let stack;

    console.log("loadStack");
    $.get(`/api/stacks/${stackId}`)
        .then(data => stack = data)
        .then(loadModule)
        .then(loadJobs)
        .then(loadOuputs)
        .then(initFront);

    function loadModule(){
        console.log("loadModule");
        return $.get(`/api/terraformModules/${stack.moduleId}`).then(module => {
            stack.module = module;
        });
    }

    function loadOuputs(){
        console.log("loadOuputs");
        // calling terraform backend
        return $.get(`/api/state/${stackId}`)
            .then(data => {
                // finding stack output
                stack.outputs = data.outputs;
            })
            .catch(e => {
                // a 404 means that the stack is new
                stack.outputs = {};
                return Promise.resolve();
            });
    }

    function loadJobs(){
        console.log("loadJobs");
        return $.get(`/api/jobs/search/findAllByStackId?stackId=${stackId}`)
            .then(data => stack.jobs = data._embedded.jobs.reverse());
    }

    function initFront(){
        new Vue({
            el: "#app",
            data: {
                stack
            },
            template: "#template",
            methods: {
                recomputeState: function(){
                    if(stack.state === "RUNNING"){
                        stack.state = "TO_UPDATE";
                    }
                }
            },
            computed: {
                editableVars: function() {
                    return this.stack.module.variables.filter(variable => variable.editable);
                }
            }
        });

        new Vue({
            el: "#controls",
            data: {
                stack
            },
            template: "#stack-controls",
            methods: {
                save: function(){
                    const message = Messenger().post({
                        type: "info",
                        message: "Saving stack."
                    });
                    $.ajax({
                        url: `/api/stacks/${stackId}`,
                        data: JSON.stringify(stack),
                        contentType: "application/json",
                        method: "PUT",
                        success: () => message.update({type: "success", message: "Stack saved."}),
                        error: () => message.update({type: "error", message: "Error saving stack."})
                    });
                },
                stopStack: function () {
                    // ask for confirmation
                    this.$bvModal.msgBoxConfirm('This will completely stop the stack. Continue?', {
                        title: 'Stop request',
                        centered: true,
                        noCloseOnBackdrop: true,
                        cancelTitle: 'No',
                        okVariant: 'danger',
                        okTitle: 'Yes',
                        returnFocus: 'body'
                    }).then(value => {
                        if (value) {
                           // redirect
                            window.location = `/stacks/${stack.id}/stop`;
                        }
                    })
                },
            }
        });
    }
</script>

<script type="application/ecmascript">
    $(document).ready(function () {
        /*-- sidebar js --*/
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>

</body>
</html>