<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Stacks</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div th:replace="~{layout/sidebar}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="midde_cont">
                <div class="container-fluid">
                    <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>Stacks</h2>
                            </div>
                        </div>
                    </div>

                    <div class="row column1" id="placeholder"></div>

                </div>
            </div>

        </div>
    </div>
</div>


<template id="template">
    <div class="card-columns">
        <div class="card" v-for="stack in stacks">
            <div class="card-body">
                <h5 class="card-title">
                    {{stack.name}}
                    <span class="badge badge-pill badge-success" v-if="stack.state === 'NEW'"><i class="fas fa-star-of-life"></i> new</span>
                    <span class="badge badge-pill badge-primary" v-if="stack.state === 'RUNNING'"><i class="far fa-check-square"></i> running</span>
                    <span class="badge badge-pill badge-warning" v-if="stack.state === 'TO_UPDATE'"><i class="fas fa-upload"></i> to update</span>
                    <span class="badge badge-pill badge-danger" v-if="stack.state === 'DESTROYED'"><i class="fas fa-snowplow"></i> destroyed</span>
                </h5>
                <a :href="'/stacks/' + stack.id" data-toggle="tooltip" title="Edit this stack" class="btn btn-primary"><i class="far fa-edit"></i></a>
            </div>
        </div>
    </div>
</template>

<!-- jQuery & bootstrap-->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>

<script type="application/ecmascript">
    let stacks;
    $.get("/api/stacks")
        .then(data => {
            stacks = data._embedded.stacks;

           new Vue({
               el: "#placeholder",
               data: {
                   stacks
               },
               template: "#template"
           })
        });

    $(document).ready(function () {
        /*-- sidebar js --*/
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    });
</script>

</body>
</html>