<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Edit stack</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row column_title">
                    <div class="col-md-12">
                        <div id="controls"></div>
                    </div>
                </div>
                <div id="app"></div>
            </div>

        </div>
    </div>
</div>

<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/webjars/momentjs/2.24.0/min/moment.min.js"></script>
<script src="/webjars/moment-duration-format/1.3.0/lib/moment-duration-format.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.4/dist/bootstrap-vue.js"></script>

<div th:replace="vue_templates/stack-vars"></div>
<div th:replace="vue_templates/breadcrumb"></div>
<div th:replace="vue_templates/user-badge"></div>
<div th:replace="vue_templates/sidebar"></div>
<div th:replace="vue_templates/job/job-timer"></div>

<template id="stack-controls">
    <div class="page_controls">
        <b-button variant="primary" @click="saveStack" :disabled="!formValid"><i class="far fa-save"></i> Save</b-button>
        <b-button varian="primary" @click="runStack" :disabled="!formValid" v-if="stack.state === 'NEW' || stack.state === 'STOPPED'"><i class="fas fa-rocket"></i> Run</b-button>
        <b-button variant="warning" @click="runStack" :disabled="!formValid" v-if="stack.state === 'TO_UPDATE'"><i class="fas fa-upload"></i> Update</b-button>
        <b-button variant="danger" @click="stopStack" :disabled="!formValid" v-if="stack.state === 'RUNNING' || stack.state === 'TO_UPDATE'"><i class="fas fa-stop-circle"></i> Destroy</b-button>
    </div>
</template>

<template id="stack-outputs">
    <div class="col-md-6">
        <div class="block">
            <div class="block_head">
                <h2>Outputs</h2>
                <small>These are the outputs of your stack.</small>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>Variable</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(output, key) in outputs">
                    <td>{{key}}</td>
                    <td>{{output.value}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<template id="template">
    <div>
        <div class="row margin_bottom_30">
            <div class="col-md-6">
                <div class="block">
                    <div class="block_head">
                        <h2>Stack {{stack.name}}</h2>
                        <small>{{stack.description}}</small>
                        <div class="metadata">
                            <p>Published <b>{{stack.createdAt | dateTimeLong}}</b> by <user-badge :user="stack.createdBy"></user-badge></p>
                            <p v-if="stack.updatedBy">Last modified <b>{{stack.updatedAt | dateTimeLong}}</b> by <user-badge :user="stack.updatedBy"></user-badge></p>
                            <p v-if="stack.estimatedRunningCost">Estimated total running cost : <b-badge variant="info">{{stack.estimatedRunningCost}} $</b-badge></p>
                        </div>
                        <h2>
                            <span class="badge badge-pill badge-success" v-if="stack.state === 'NEW'" data-toggle="tooltip" title="Your stack is new and has not been started yet."><i class="fas fa-star-of-life"></i> new</span>
                            <span class="badge badge-pill badge-primary" v-if="stack.state === 'RUNNING'" data-toggle="tooltip" title="Your stack is up and running !"><i class="far fa-check-square"></i> running</span>
                            <span class="badge badge-pill badge-warning" v-if="stack.state === 'TO_UPDATE'" data-toggle="tooltip" title="Your stack needs an update !"><i class="fas fa-upload"></i> to update</span>
                            <span class="badge badge-pill badge-danger" v-if="stack.state === 'STOPPED'" data-toggle="tooltip" title="Your stack has been stopped."><i class="fas fa-stop-circle"></i> stopped</span>
                        </h2>
                    </div>
                    <div class="block_content">
                        <b-form-group label="Name">
                            <b-input id="var-name"
                                     v-model="stack.name"
                                     :state="stack.name !== ''"
                                     aria-describedby="input-live-help input-live-feedback"
                                     trim></b-input>
                            <b-form-invalid-feedback id="input-live-feedback">This field is mandatory</b-form-invalid-feedback>
                            <b-form-text id="input-live-help">This is the name of your stack</b-form-text>
                        </b-form-group>
                        <b-form-invalid-feedback id="input-live-feedback">This field is mandatory</b-form-invalid-feedback>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" v-model="stack.description">
                        </div>
                    </div>
                </div>
            </div>

            <stack-outputs v-bind:outputs="stack.outputs"></stack-outputs>
        </div>

        <div class="row margin_bottom_30">
            <div class="col-md-6">
                <div class="block">
                    <div class="block_head">
                        <h2>Module variables values</h2>
                        <small>This is the configuration of your module's variables !</small>
                    </div>
                    <div class="block_content">
                        <stack-vars v-bind:module="stack.module" v-bind:stack="stack" @validated="valid => {debugger;this.state.variablesValid = valid}"></stack-vars>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <job-history v-bind:jobs="stack.jobs"></job-history>
            </div>
        </div>
    </div>
</template>

<template id="job-history">
    <div class="block">
        <div class="block_head dark_bg">
            <h2><span><i class="fas fa-history"></i> Job history</span></h2>
        </div>
        <ul class="job_list">
            <li v-for="(job, index) in jobs" :class="job.status" class="job">
                <div class="job_id"><a :href="'/stacks/' + job.stackId + '/jobs/' + job.id">Job #{{jobs.length - index}}</a></div>
                <div class="job_detail">
                    <div>
                        <span class="job_attr_id">Type</span>
                        <span class="job_attr_value" :class="job.type">{{job.type}}</span>
                    </div>
                    <div>
                        <span class="job_attr_id">Status</span>
                        <span class="job_attr_value" :class="job.status">{{job.status}}</span>
                    </div>
                    <div>
                        <span class="job_attr_id">User</span>
                        <user-badge :user="job.user" :css-class="'job_attr_value'"></user-badge>
                    </div>
                </div>
                <div class="job_detail">
                    <div>
                        <span class="job_attr_icon"><i class="far fa-calendar-alt"></i></span>
                        <span class="job_attr_value">{{job.startDateTime | dateTime}}</span>
                    </div>
                    <div>
                        <span class="job_attr_icon"><i class="fas fa-stopwatch"></i></span>
                        <job-timer
                            :start-time="job.startDateTime"
                            :end-time="job.endDateTime"
                            :css-class="'job_attr_value'">
                        </job-timer>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<script th:inline="javascript" type="application/ecmascript">
    const stackId = [[${stackId}]];

    Vue.component('job-history', {
        template: "#job-history",
        props: ["jobs"]
    });

    Vue.component('stack-outputs', {
        template: "#stack-outputs",
        props: ["outputs"]
    });

    Vue.filter('dateTime', function (value) {
        if (!value || !moment(value).isValid()) return '';
        return moment(value).format('L LTS');
    });

    Vue.filter('dateTimeLong', function (value) {
        if (!value || !moment(value).isValid()) return '';
        return moment(value).format('LLL');
    });

</script>

<div th:replace="helpers/messenger"></div>

<script th:inline="javascript" type="application/ecmascript">
    const store = {
        state: {
            stack: {},
            variablesValid: true
        }
    };

    $.get(`/api/stacks/${stackId}`)
        .then(data => store.state.stack = data)
        .then(loadModule)
        .then(loadJobs)
        .then(loadOutputs)
        .then(initFront);

    function loadModule(){
        return $.get(`/api/modules/${store.state.stack.moduleId}`).then(module => {
            store.state.stack.module = module;
        });
    }

    function loadOutputs(){
        // calling terraform backend
        return $.get(`/api/state/${stackId}`)
            .then(data => {
                // finding stack output
                // data.modules[0].outputs for CLI <= 0.11.x
                store.state.stack.outputs = data.outputs || data.modules[0].outputs;
            })
            .catch(e => {
                // a 404 means that the stack is new
                store.state.stack.outputs = {};
                return Promise.resolve();
            });
    }

    function loadJobs(){
        return $.get(`/api/jobs?stackId=${stackId}`)
            .then(data => store.state.stack.jobs = data.reverse());
    }

    function initFront(){
        new Vue({
            el: "#app",
            data: _ => ({
                state: store.state,
                stack: store.state.stack
            }),
            template: "#template",
            methods: {
                recomputeState: function(){
                    if(this.stack.state === "RUNNING"){
                        this.stack.state = "TO_UPDATE";
                    }
                }
            },
            computed: {
                editableVars: function() {
                    return this.stack.module.variables.filter(variable => variable.editable);
                }
            }
        });

        let stack_backup = JSON.stringify(store.state.stack);
        new Vue({
            el: "#controls",
            data: _ => ({
                state: store.state,
                stack: store.state.stack
            }),
            template: "#stack-controls",
            methods: {
                saveStack: function(){
                    const message = Messenger().post({
                        type: "info",
                        message: "Saving stack."
                    });
                    return $.ajax({
                        url: `/api/stacks/${this.stack.id}`,
                        data: JSON.stringify(this.stack),
                        contentType: "application/json",
                        method: "PUT",
                        success: () => {
                            message.update({type: "success", message: "Stack saved."});
                            stack_backup = JSON.stringify(this.stack);
                        },
                        error: (e) => {
                            if(e.responseJSON){
                                message.update({type: "error", message: `Error saving stack : ${e.responseJSON.message}`})
                            }
                        }
                    });
                },
                runStack: function () {
                    let current_stack = JSON.stringify(this.stack);
                    if (current_stack === stack_backup) {
                        window.location = `/stacks/${this.stack.id}/RUN`;
                    } else {
                        this.confirmDialog('Run request', 'Modifications must be saved before. Continue?')
                            .then(value => {
                                if (value) {
                                    return this.saveStack().then(_ => window.location = `/stacks/${this.stack.id}/RUN`);
                                }
                            })
                    }
                },
                stopStack: function () {
                    // ask for confirmation
                    this.confirmDialog('Stop request', 'This will completely stop the stack. Continue?')
                        .then(value => {
                            if (value) {
                                // redirect
                                window.location = `/stacks/${this.stack.id}/DESTROY`;
                            }
                        });
                },
                confirmDialog: function(title, message) {
                    return this.$bvModal.msgBoxConfirm(message, {
                        title: title,
                        centered: true,
                        noCloseOnBackdrop: true,
                        cancelTitle: 'No',
                        okVariant: 'danger',
                        okTitle: 'Yes',
                        returnFocus: 'body'
                    });
                 }
            },
            computed: {
                formValid: function(){
                    return this.state.variablesValid && this.stack.name.trim() !== "";
                }
            }
        })
    }

    new Vue({
        el: "#navigation",
        data: () => ({ page: 'stack' }),
        template: "#template-navigation",
    });

</script>

</body>
</html>