<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header(~{::title})">

    <title>Gaia - Users</title>

</head>
<body class="dashboard dashboard_2">
<div class="full_container">
    <div class="inner_container">

        <div id="sidebar" th:class="${sidebar_collapsed ? 'active' : ''}"></div>

        <!-- right content -->
        <div id="content">

            <div th:replace="~{layout/topbar}"></div>

            <div class="container-fluid">
                <div class="row column_title">
                    <div class="col-md-12">
                        <div class="page_title">
                            <div id="navigation"></div>
                        </div>
                    </div>
                </div>
                <div class="row column1" id="placeholder"></div>
            </div>

        </div>
    </div>
</div>

<template id="template-navigation">
    <breadcrumb :page="page"></breadcrumb>
</template>

<template id="template">
    <div class="block module_description">
        <b-table :items="users" :fields="fields" stripped fixed >
            <!-- A custom formatted column -->
            <template slot="team" slot-scope="data">
                <vue-multiselect
                        :multiple="false"
                        label="id"
                        track-by="id"
                        searchable
                        placeholder="Select user team"
                        v-model="data.item.team"
                        @input="changeTeam(data.item)"
                        :options="$teams"></vue-multiselect>
            </template>
        </b-table>
    </div>
</template>

<!-- jQuery & bootstrap-->
<script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
<script src="/webjars/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="/webjars/vue/2.5.16/vue.js"></script>
<script src="/webjars/bootstrap-vue/2.0.0-rc.26/dist/bootstrap-vue.js"></script>

<script src="/webjars/vue-multiselect/2.1.6/dist/vue-multiselect.min.js"></script>

<div th:replace="vue_templates/sidebar"></div>
<div th:replace="helpers/messenger"></div>
<div th:replace="vue_templates/breadcrumb"></div>

<script type="application/ecmascript">
    Vue.component('vue-multiselect', window.VueMultiselect.default);

    $(document).ready(function () {
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    });

    new Vue({
        el: "#navigation",
        data: () => ({ page: 'users' }),
        template: "#template-navigation",
    });

    let users;
    let teams;
    let options;

    $.get("/api/teams").then(data => teams = data)
        .then(_ => {
            options = teams.map(team => {return {text: team.id, value: team}});
            Vue.prototype.$teams = teams;
        })
        .then(_ => {
            $.get("/api/users")
                .then(data => {
                    users = data;

                    new Vue({
                        el: "#placeholder",
                        data: () => {return {
                            users,
                            fields: ["username", "team"]
                        }},
                        methods: {
                            changeTeam: function(user) {
                                const message = Messenger().post({
                                    type: "info",
                                    message: `Saving user ${user.username}.`
                                });
                                $.ajax({
                                    url: `/api/users/${user.username}`,
                                    data: JSON.stringify(user),
                                    contentType: "application/json",
                                    method: "PUT",
                                    success: () => message.update({
                                        type: "success",
                                        message: `User ${user.username} saved.`
                                    }),
                                    error: () => message.update({
                                        type: "error",
                                        message: `Error saving user ${user.username}.`
                                    })
                                });
                            }
                        },
                        template: "#template"
                    });

                    $('[data-toggle="tooltip"]').tooltip();
                });
        });
</script>

</body>
</html>